<h1>{{reqType}} Request Received</h1>

<div>
	<fieldset><legend>Sent in URL</legend>
		<ul>
		  {{#each urlData}}
			<li>{{this.name}}: {{this.value}}
		  {{/each}}
		</ul>
	</fieldset>
</div>


<div>
	<fieldset><legend>Sent in Body</legend>
		<ul>
		  {{#each bodyData}}
			<li>{{this.name}}: {{this.value}}
		  {{/each}}
		</ul>	
	</fieldset>
</div>